<h1 class="page-title">Redirected</h1>
<p>This page is the result of a redirect from the server, from a form submission.</p>

<p class="space --bottom-s --top-m">This performs an <code>advance</code> visit:</p>
<p><a href="/two" class="button@native">Advance to another webpage</a></p>

<p class="space --bottom-s">This performs a <code>replace</code> visit:</p>
<p><a href="/two?action=replace" class="button@native" data-turbo-action="replace">Replace with another webpage</a></p>
