<h1 class="page-title">It Worked!</h1>

<p>
  You have successfully submitted a form. What a ride.
</p>

<p class="space --bottom-s --top-m">This performs an <code>advance</code> visit:</p>
<p><a href="/two" class="button@native">Advance to another webpage</a></p>
